<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<!-- 게시글 총 개수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(board_number)
		FROM tbl_board
	</select>
	<!-- 게시글 추가 -->
<!--    <insert id="insert" parameterType="BoardDTO">
      INSERT INTO tbl_board(board_number, board_title, board_content, member_number)
      VALUSE(seq_board.nextval, #{boardTitle}, #{boardContent}, #{memberNumber})
   </insert>
   방금 생성된 시퀀스 값 가져오기
   <select id = "getCurrentBoardNumber" resultType="int">
      SELECT seq_board.currval
      FROM DUAL
   </select> -->

   <!-- useGeneratedKeys와 keyProperty 활용 -->
   <insert id="insert" parameterType="BoardDTO">
      <selectKey keyProperty="boardNumber" resultType="int" order="BEFORE">
         SELECT seq_board.nextVal FROM DUAL
      </selectKey>
      INSERT INTO tbl_board(board_number, board_title, board_content, member_number)
      VALUES(#{boardNumber}, #{boardTitle}, #{boardContent}, #{memberNumber})
   </insert>
	
	<!-- 조회수 -->
	<update id="updateReadCount" parameterType="int">
		UPDATE tbl_board
		SET board_read_count = board_read_count +1
		WHERE board_number = #{boardNumber}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="boardDTO">
		DELETE FROM tbl_board
		WHERE board_number= #{boardNumber}
	</delete>
	<!-- 게시글 수정 -->
	<update id="update" parameterType="BoardDTO">
		update tbl_board set board_title = #{boardTitle}, board_content = #{boardContent}
		<!-- , board_update=#{boardUpdate} 수정일 -->
		WHERE board_number = #{boardNumber}
	</update>
	<!-- 게시글 상세(1건 조회) -->
	<select id="select" parameterType="int" resultType="BoardListDTO">
		<![CDATA[
			SELECT m.member_number, m.member_id, b.board_number, b.board_title,
				b.board_content, b.board_date, b.board_read_count
			FROM tbl_member M Join tbl_board b
			ON b.member_number = m.member_number
			WHERE b.board_number = #{boardNumber}
		]]]>
	</select>
	
		<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="">
		<![CDATA[
		SELECT *  FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM(SELECT m.member_number, m.member_id, b.board_number, b.board_title
				b.board_content, b.board_date, b.board_read_count
				FROM tbl_member m JOIN tbl_board b
				ON m.member_number = b.member_number
				ORDER BY b.board_date DESC) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
</mapper>